.weather-app {
  width: 22vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  /*border: 1px solid;*/
  margin-top: 5vh;
  border-radius: 1rem;
  top: 2%;
  left: 35%;
  position: absolute;
  filter: drop-shadow(3px 3px 3px #000);
}

.button {
  background: rgb(246, 210, 0);
  width: 50px;
  height: 25px;
  border-radius: 50% / 100% 100% 0 0;
  border: none;
  cursor: pointer;
}

p {
  color: white;
  margin-top: 1vh;
}

.city{
  color: white;
  text-align: center;
  margin-block-end: 0em;
}

.date{
  color: white;
  text-align: center;
  font-size: 0.90em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: normal;
}

.temp{
  color: white;
  text-align: center;
  font-size: 5em;
  margin-block-start: 0.2em;
  margin-block-end: 0em;
}

.clouds{
  color: white;
  text-align: center;
  margin-block-end: 0.5em;
}

.temperature{
  color: white;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 5em;
}

.divisor{
  color: white;
  text-align: center;
  margin-block-start: 0em;
}

.threeDaysLater {
  width: 22vw;
  display: flex;
  text-align: center;
}

.daysLater {
  width: 33.33%;
  font-size: small;
}

img {
  width: 30px;
  height: 30px;
}

.modal {
  width: 70%;
  height: 70%;
  opacity: 95%;
  border: 1px solid;
  border-radius: 2px;
  position: absolute;
  top: 20%;
  left: 20%;
  /* transform: translate(-50%,-50%) !important; */
  background-color: rgb(145, 176, 207);
}

.modal h1 {
  text-align: center;
}

/*input.textbox{
    margin-left: 10%;
}
*/

/*CSS para el autocompletado de las ciudades*/

li {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(
    90deg,
    #ffd32e 10px,
    #eee 10px,
    #eee 11px,
    transparent 11px
  );
  padding: 10px 15px 10px 25px;
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
}

#query {
  width: 100%;
  box-sizing: border-box;
  font-size: 19px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}
#notebooks {
  background: whitesmoke;
  position: absolute;
  left: 10%;
  margin-left: 10%;
  margin-top: 35px;
  width: 350px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: inset 1px 1px 0 white;
  max-height: 450px;
}
ul {
  margin: 0 auto;
  padding: 0;
  max-height: 390px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px 0 5px;
  border-left: none;
  border-right: none;
}

#notebooks span {
  display: block;
  position: absolute;
  background: #ffd32e;
  bottom: -35px;
  left: -1px;
  width: 360px;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}

button {
  width: 60px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
